body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #ff3366;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #cccccc;
    font-size: 1em;
    margin-bottom: 20px;
}

.buttons {
    position: relative; /* Necesario para posicionar el botón "No" de forma absoluta */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Añadimos espacio entre los botones */
}

button {
    background-color: #ff3366;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff6699;
}

#noBtn {
    position: absolute; /* Permitir que el botón "No" se mueva independientemente */
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: #ff3366;
}
